@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300;8..144,400;8..144,600&display=swap');

:root {
    --rose-pink: #CF8E80;
    --dark-brown: #916953;
    --dark-grey: #242424;
    --white: #fff;
    --light-pink: #e9a292;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Serif', serif;

}

h1, h2, h3, h4, h5, h6, span {
    color: var(--dark-grey);
    line-height: 1.25;
    text-align: center;
}

h1 {
    font-size: 36px;
}

.text--pink {
    color: var(--rose-pink);
}

p {
    line-height: 1.5;
    font-size: 16px;
}

body {
    background: #FFFEF9;

}

li {
    list-style-type: none;
}

.flex-1 {
    flex: 1;
}

.flex {
    display: flex;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
}

.container {
    padding: 50px 0;
}
section:nth-child(even) {
    background-color: #fdfdfd;
}

.section_title {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    position: relative;
    transition: opacity 300ms ease;
}

i:hover {
    opacity: 0.7;
}

.link_hover-effect::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.link_hover-effect-black::after {
    background: var(--dark-grey);
}
}

.link_hover-effect--white::after {
    background: var(--white);
}

.link_hover-effect:hover::after {
width: 100%;
left: 0;
}

html {
    scroll-behavior: smooth;
}
/* 

NAVIGATION BAR 

*/

nav {
    height: 100px;
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.navlinks {
    display: flex;
}

.nav_link-anchor {
    margin: 0 12px;
    font-size: 16px;
    color: var(--dark-grey);
}

.nav-link-anchor-primary {
    background: var(--rose-pink);
    color: var(--white);
    padding: 8px 20px;
    border-radius: 50px;
    transition: all 300ms ease;
}

.nav-link-anchor-primary:hover {
    background: var(--light-pink);
}

.personal_logo {
    color: var(--rose-pink);
    font-weight: 700;
    font-size: 24px;
    margin: 0 12px;
}

.about-me_picture-mask img {
    width: 100%;
}



/* 
ABOUT ME
 */

 #aboutme {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
 }

 .about-me_info {
     display: flex;
    flex-direction: column; }

 .about-me_info--container {
     display: flex;
     flex-direction: column;
     align-items: center;
     max-width: 600px;
     margin: 0 auto;
     text-align: center;
 }

 .about-me_picture-mask {
     width: 100px;
     height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin-bottom: 28px;
    animation: animate-profile-picture 800ms 200ms backwards;
 }

 /* animation for the profile picture */

 @keyframes animate-profile-picture {
     0% {
         transform: scale(0);
     }
     80% {
         transform: scale(1.1);
     }
     100% {
         transform: scale(1);
     }
 }

 .aboutme-pic {
     width: 100%;
/*  
 Improving my own picture 
 transform: scale (1.5); to zoom in
 */
}

 .about-me__info--title {
     margin-bottom: 16px;
     animation: fade-up 650ms 400ms backwards;
 }
.about-me_info--para {
    font-size: 20px;
    margin-bottom: 28px;
    animation: fade-up 650ms 600ms backwards;
}

.about-me__links {
    font-size: 20px;
    color: var(--dark-grey);
    padding: 0 16px;
    animation: fade-up 650ms 800ms backwards;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.about-me__img--container {
    flex: 1;
    display: flex;
    align-items: center;
    margin-top: 48px;
}

.about-me__img {
    width: 100%;
    animation: fade-in 1200ms 800ms backwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.wave {
    display: inline-block;
animation: animate-wave 500ms infinite  ease-in-out;
}

@keyframes animate-wave {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0);
    }
}
/* TECH - STACK */

.language-img {
    width: 100%;
    max-width: 100px;
    transition: all 300ms;
}

.language:hover .language-img {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}
.language_img--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 16px;
}

.language {
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;

}

.language_list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.language_name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms;
    color: var(--rose-pink);
    font-weight: 700;
    font-size: 20px;
    opacity: 0;
}

.language:hover .language_name {
    transform: scale(1);
    opacity: 1;
}

/* 
PROJECT
 */
 .project {
    margin-bottom: 140px;
}
.project:last-child {
    margin-bottom: 40px;
}

 .project_wrapper {
     box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
     border-radius: 20px;
     overflow: hidden;
     display: flex;
     position: relative;

 }

 .project_wrapper::before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     background: #1c1d25;
    opacity: 0;
    transition: opacity 450ms ease;
    z-index: 2;
 }

 .project:hover .project_wrapper::before {
     opacity: 0.5;
 }

 .project:hover .project_img {
     transform: scale(1.07);
     filter: blur(5px);
 }

 .project:hover .project_description {
     opacity:1;
     transform: translateY(-50%);
 }
 .project_img {
     width: 100%;
     transition: all 500ms ease;
 }

 .project_list {
     padding-top: 40px;

 }

 .project_description {
     position: absolute;
     top: 50%;
     left: 90px;
     transform: translateY(100%);
     max-width: 550px;
     z-index: 3;
     opacity: 0;
     transition: transform 450ms, opacity 500ms ease;
 }

 .project_description--title {
     font-size: 40px;
 }

 .project_description--subtitle, .project_description--link {
     font-size: 25px;
 }

 .project_description--para {
     margin: 16px 0;
 }

 .project_description--link {
     margin-right: 20px;
 }

 .project_description--title, .project_description--subtitle,
 .project_description--para, .project_description--link {
     text-align: left;
     color: var(--white);
 }

/* 
 FOOTER
   */

footer {
    background: var(--dark-brown)
}

.footer_row {
    padding: 2% 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer_logo-img {
    width:250px;
    height: 250px;
}

.footer_social--link, .footer_copyright {
    color: var(--white);
 
}

.footer_social--list {
    margin-bottom: 28px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    max-width: 600px;
}

.footer_anchor {
    position: relative;
}

.footer_anchor:hover .footer_logo--popup {
opacity: 1;

right: 0;
}

.footer_logo--popup {
    color: var(--white);
    position: absolute;
    right: 100px;
    top: 105px;
    font-weight: 700;;
    opacity: 0;
    transition: all 300ms ease;
}

/* Small phones, tablets, large smartphones */

@media only screen and (max-width: 768px) {
    nav {
        height: 68px;
    }
    h1 {
        font-size: 28px;
    }

    .about-me_info--para {
        font-size: 18px;
    }
    .language {
        width: calc(100%/3);
    }
    .project_description--para {
        font-size: 14px;
    }
    .project_description {
        padding-right: 30px;
        left: 30px;
    }
}

/* 
SMALL PHONES
 */

@media only screen and (max-width: 480px) {
.nav_link:not(:last-child) {
    display: none;
}
.project_description--para {
    display: none;
}

.project_description {
    padding: 0;
    left: 0;
    width: 100%;
}

.project_description--title {
    font-size: 32px;
    line-height: 1;
    text-align: center;
}

.project_description--subtitle {
    font-size: 16px;
    text-align: center;
    margin: 12px 0;
}
.project_description--link {
    font-size: 16px;
}

.project_description--links {
    display: flex;
    justify-content: center;
}
}